body {
  background: rgb(1, 13, 17) url("Black-Background.jpg") no-repeat fixed center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  border-radius: 5px;
  background-color: lightcyan;
  color: black;
  padding: 50px 0 40px 0;
  margin: 15% auto;
}
.col1 {
  float: center;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.hide-md-lg {
  display: none;
}
@media screen and (max-width: 440px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  .vl {
    display: none;
  }
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
